@import '../variables.scss';
@import '../mixins.scss';

.footer {
  .footer {
    &-top {
      width: 100%;
      height: auto;
      min-height: 150px;
      background-color: $main-red;
      padding: 10px 0;

      &__content {
        width: 100%;
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        grid-gap: 0 45px;
      }

      &--wrapper {
        width: 100%;
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        grid-gap: 0 20px;
      }
    }

    &-bottom {
      width: 100%;
      height: auto;
      min-height: 45px;
      background-color: $dark-grey;

      &__message {
        @include text($main-font, 14, 16, 400, $white);
        width: 100%;
        height: auto;
        min-height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }

    &-item {
      &__list {
        width: max-content;
        height: auto;
        flex-flow: column;
        align-items: flex-start;
        padding: 15px 5px;

        &-item {
          @include text($main-font, 14, 16, 500, $white);
          margin-bottom: 10px;

          &.footer-title {
            @include text($main-font, 22, 24, 700, $white);

            span {
              @include text($main-font, 22, 24, 700, $white);
            }
          }
        }
      }

      &__link {
        @include text($main-font, 14, 16, 500, $white);

        &:focus,
        &:hover {
          outline: none;
          text-decoration: none;
        }
      }
    }

    &-socials {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-gap: 0 20px;
      padding-top: 20px;
    }
  }
}
