@import '../mixins.scss';
@import '../variables.scss';

.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  .header {
    &-top {
      width: 100%;
      height: auto;
      background-color: $main-red;
      padding: 8px 15px;
      position: relative;

      & > .container {
        position: relative;
      }
    }

    &-bottom {
      width: 100%;
      height: auto;
      background-color: $dark-grey;
      padding: 8px 15px;
    }

    &-socials {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-gap: 0 10px;
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translate3d(0, -50%, 0);

      &__link {
        text-decoration: none;
      }

      &__icon {
        width: 32px;
        height: 32px;
      }
    }
  }
}
