@import '../mixins.scss';
@import '../variables.scss';

.home {
  width: 100%;
  height: auto;
  min-height: 100dvh;
  background-color: $body-bg;

  .home {
    &-banner {
      width: 100%;
      max-width: 1920px;
      height: auto;
      max-height: 720px;
      margin: 0 auto;
      margin-bottom: 35px;

      &__link {
        position: relative;
        z-index: 4;

        &:focus {
          outline: none;
        }
      }

      &__title {
        @include text($main-font, 28, 32, 700, $title-yellow);
        width: 100%;
        height: auto;
        min-height: 70px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background: linear-gradient(to right, rgba($dark-grey, 0.8), rgba($dark-grey, 0));
        padding: 20px;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 3;
      }

      &__img {
        width: 100%;
        max-width: 1920px;
        height: auto;
        max-height: 720px;
      }
    }
  }
}
