// Colors
$main-red: #b60000;
$dark-grey: #232323;
$body-bg: #191919;
$title-yellow: #ffd200;
$title-orange: #ff8400;
$general-title: #ca0211;
$text: #a0a0a0;
$placeholder: #a0a0a0;
$white: #ffffff;

// Fonts
$main-font: 'Arial', 'Tahoma', 'Helvetica', sans-serif;
